@use "sass:meta";
@import "../../style/layout.scss";
@import "../../style/typography.scss";

.Home {
  .page-layout {
    .home-cursor {
      color: $yellow;
    }

    h3 {
      color: $orange;
      margin: 0;
      .home-cursor {
        color: $orange;
      }

      strong {
        color: $yellow;
        .home-cursor {
          color: $yellow;
        }
      }
    }

    h1 {
      margin-bottom: 0;
      color: $purple;
      .home-cursor {
        color: $purple;
      }
      strong {
        color: $aqua;
        .home-cursor {
          color: $aqua;
        }
      }
    }

    p {
      color: $orange;
      margin: 0;
      .home-cursor {
        color: $orange;
      }
      strong {
        color: $yellow;
        .home-cursor {
          color: $yellow;
        }
      }
    }
  }
}
