@font-face {
  font-family: SpaceMono;
  src: url(../fonts/SpaceMono/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: SpaceMonoB;
  src: url(../fonts/SpaceMono/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: SourceCodeProM;
  src: url(../fonts/SourceCodePro/SourceCodePro-Medium.ttf);
}
@font-face {
  font-family: SourceCodePro;
  src: url(../fonts/SourceCodePro/SourceCodePro-Regular.ttf);
}

// fonts
$siteFont: SpaceMono, SourceCodePro, SpaceMonoB, SourceCodeProM, Calibri,
  sans-serif;

// colors
$aqua: #72deff;
$orange: #ff6859;
$yellow: #ffcf44;
$purple: #b15dff;

// home color scheme
$siteBackground: #232425;
